/*
#this is a external library (self made)

!common/wifi/
!common/OTA/

components/Espressif
components/arduino/*
!components/arduino/libraries/Keypad/
!components/arduino/libraries/finger/
!components/arduino/CMakeLists.txt

!data
!main
!.gitignore
!CMakeLists.txt
!partition.csv
!sdkconfig
!sdkconfig.old
